@import url('//at.alicdn.com/t/font_565203_ilz03w6oww5ewmi.css');
@font-face {
  font-family: 'iconfont'; /* project id 596235 */
  src: url('//at.alicdn.com/t/font_596235_0ujonctbn4nuq5mi.eot');
  src: url('//at.alicdn.com/t/font_596235_0ujonctbn4nuq5mi.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_596235_0ujonctbn4nuq5mi.woff') format('woff'),
    url('//at.alicdn.com/t/font_5962' +'35_0ujonctbn4nuq5mi.ttf')
      format('truetype'),
    url('//at.alicdn.com/t/font_596235_0ujonctbn4nuq5mi.svg#iconfont')
      format('svg');
}
.page-header {
  .page-header-title {
    color: rgb(75, 74, 75);
    padding: 15px 0 15px 10px;
    font-size: 16px;
  }
}
.page-container {
  .mint-cell,
  .mint-field {
    &:first-child {
      border-top: 0.5px solid #d9d9d9;
    }
    &:not(:last-child) {
      background-image: linear-gradient(
        180deg,
        #d9d9d9,
        #d9d9d9 50%,
        transparent 50%
      );
      background-size: 98% 1px;
      background-repeat: no-repeat;
      background-position: bottom right;
    }
    .mint-cell-wrapper {
      background: none;
      .mint-cell-title {
        .mint-cell-text {
          font-size: 15px;
          white-space: nowrap;
          color: rgb(181, 178, 180);
        }
      }
      .mint-cell-value {
        font-size: 15px;
        span:not([class]) {
          color: #666;
        }
        .mint-field-core {
          color: #666;
          text-align: right;
        }
        a {
          color: rgb(100, 52, 226);
          text-decoration: none;
        }
      }
      .mint-checkbox-label {
        font-size: 90%;
      }
    }
    &--primary {
      .mint-cell-wrapper {
        .mint-cell-value {
          span {
            color: rgb(255, 76, 83) !important;
          }
        }
      }
    }
    &--largetitle {
      .mint-cell-wrapper {
        justify-content: center;
        align-items: flex-end;
        .mint-cell-text {
          font-size: 17px !important;
          color: black !important;
          white-space: normal !important;
        }
        .mint-cell-label {
          line-height: 1.3;
        }
        .mint-cell-title {
          .mint-cell-label:nth-child(2) {
            margin-top: 10px;
          }
        }
      }
    }
    &--large {
      @extend .mint-cell--largetitle;
      .mint-cell-wrapper {
        padding: 10px;
      }
    }
    &--noborder {
      border: none !important;
      background: none !important;
    }
    &--disabled {
      .mint-cell-wrapper {
        .mint-cell-text,
        span {
          opacity: 0.4;
        }
      }
    }
  }
}
.page-bottom {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: white;
  &-left {
    padding: 15px 0;
    flex: 2;
    background: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 76, 83);
    font-weight: 200;
    font-size: 15px;
  }
  &-right {
    flex: 2;
    background: rgb(255, 76, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 200;
    &:active {
      background: #f51f27;
    }
    &--disabled {
      color: #656b79;
      background: #f6f8fa;
      opacity: 0.6;
      border-top: 1px solid #e7e7e7;
    }
  }
}
.page-bottom-area {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  margin-top: 25px;
  .mint-button {
    font-size: 15px;
  }
  .mint-button--primary {
    background: #ff4c53;
  }
}
.page-bottom-flex {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: white;
  border-top: 0.5px solid #e7e7e7;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
  .page-bottom-start {
    margin-left: 15px;
  }
  .page-bottom-end {
    margin-right: 15px;
  }
}
.mint-toast,
.mint-toast.is-placemiddle,
.mint-indicator,
.mint-indicator-wrapper {
  z-index: 9999 !important;
}
.mint-msgbox-wrapper {
  .mint-msgbox {
    .mint-msgbox-content {
      .mint-msgbox-message {
        max-height: 100px;
        overflow: auto;
      }
    }
    .mint-msgbox-btn {
      font-size: 15px;
      &.mint-msgbox-cancel {
        color: dimgrey;
      }
    }
  }
}
